<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.appphil.webcamviewerwidget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LinkListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".widgets.switchwidget.SwitchWidgetProvider" android:label="@string/switch_widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/switchwidgetproviderinfo" />
        </receiver>

        <receiver android:name=".widgets.singleautoupdatewidget.SingleAutoUpdateWidgetProvider" android:label="@string/single_auto_update_widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/singleautoupdatewidgetproviderinfo" />
        </receiver>

        <activity android:name=".activities.ViewImageActivity" />
        <activity android:name=".activities.InfoActivity" />
        <activity android:name=".activities.SwitchWidgetConfigActivity" />
        <activity android:name=".activities.SelectLinkActivity" />
        <activity android:name=".activities.ExportActivity" />
        <activity android:name=".activities.ImportActivity" />
        <activity android:name=".activities.SAUWidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <service
            android:name=".widgets.switchwidget.services.WidgetUpdateService"
            android:exported="false"/>
        <service
            android:name=".widgets.switchwidget.services.WidgetSwitchLinkService"
            android:exported="false"/>

        <service
            android:name=".widgets.singleautoupdatewidget.SAUWidgetUpdateService"
            android:exported="false"/>

     </application>

</manifest>